AKSHARE_API_KEY=__SAME_AS_QUOTE_HTTP_API_KEY__
AKSHARE_CACHE_TTL_SECONDS=10
AKSHARE_MAX_STALE_SECONDS=30
AKSHARE_SEARCH_LIMIT=20
AKSHARE_UPSTREAM_TIMEOUT_SECONDS=30
AKSHARE_SINGLE_CACHE_MAX_ENTRIES=1000
